@tailwind base;
@tailwind components;
@tailwind utilities;

.label {
    font-weight: 600;
    font-size: 1.25rem;
}

.input {
    background: #FFFFFF;
    border: 2px solid #F9A824;
    border-radius: 30px;
    @apply lg:min-w-[400px] 2xl:min-w-[500px] text-xl px-6 py-3 my-2 
}

.link {
    color: #F47F17;
}

.btn {
    background: #F9A824;
    border: 2px solid #F9A824;
    border-radius: 30px;
    color: white;
    font-weight: 800;
    @apply lg:min-w-[400px] 2xl:min-w-[500px] text-xl py-[0.625rem] mt-11
}

.box {
    background: #FFFFFF;
    border: 2px solid #F9A824;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    @apply w-[7.5rem] h-20
}

.background {
    background-image: url("../assets/login_bg.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 82%;
}