@tailwind base;
@tailwind components;
@tailwind utilities;

.label {
    font-weight: 600;
    font-size: 1.25rem;
}

.input {
    border: 2px solid #F9A824;
    border-radius: 30px;
    color: #FCD87C;
    @apply w-full text-xl px-6 py-3 my-2 bg-background
}

.link {
    color: #F47F17;
}

.btn {
    border: 2px solid #F9A824;
    border-radius: 30px;
    color: white;
    font-weight: 800;
    @apply w-full text-xl py-[0.625rem] mt-5 lg:mt-11 bg-orange-400
}

.box {
    background: #FFFFFF;
    border: 2px solid #F9A824;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    @apply h-20 flex-1
}

.background {
    background-position: right;
    background-repeat: no-repeat;
    background-size: 82%;
    @apply bg-none lg:bg-[url("../assets/login_bg.png")]
}