@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* @apply duration-200 */
}

@layer base {
    html {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}

html {
    @apply text-[10px] lg:text-[12px] 2xl:text-[16px]
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    @apply bg-dark
}

.login-form>svg {
    @apply scale-100 lg:scale-75 2xl:scale-110 hidden lg:block
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('/src/assets/svg/calender.svg');
}

.grid-cols-4 {
    grid-template-columns: repeat(3, 1fr) 2fr;
}

/* Custom Calendar */
.css-cwhad8-MuiDateCalendar-root{
    @apply !text-light-txt
}

.css-1yllih9-MuiPaper-root-MuiPickersPopper-paper div{
    @apply bg-dark
}

.css-1yllih9-MuiPaper-root-MuiPickersPopper-paper button{
    @apply !text-light-txt !bg-transparent !text-b1 hover:!bg-card-bg
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root *{
    @apply !border-none !text-light-txt placeholder:!text-light-txt placeholder:!opacity-100
}

.css-156tkzh-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
    @apply !bg-card-bg
}

.css-hlj6pa-MuiDialogActions-root{
    @apply !justify-between
}

.css-1anqmj6-MuiPopper-root-MuiPickersPopper-root div{
    @apply rounded-[1.25rem]
}

.css-9yjdhh-MuiDialogContent-root:first-of-type{
    @apply !bg-dark
}

.css-9yjdhh-MuiDialogContent-root:first-of-type *{
    @apply !text-light-txt bg-transparent
}

.css-9yjdhh-MuiDialogContent-root:first-of-type button{
    @apply !text-b1
}